#root {
  max-width: 1280px;
  margin: 0 auto;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.cell.hasItem {
  background-color: green;
}

.cell.notHasItem {
  background-color: red;
}

.board {
  margin: 0 auto;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.attempts {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.reset-button {
  display: block;
  margin: 20px auto 0;
}